```
Data/heart_disease.csv
yukarıdaki adresten faydalanarak pandas modülünü kullanarak dataseti okuyup dataframe olarak değişken oluşturalım
``````

In [12]:
import pandas as pd

df=pd.read_csv("/workspace/UA_AI_Introduction/Data/heart_disease.csv")
df.loc()

,age,sex,chest pain type,resting blood pressure,serum cholestoral in mg/dl,fasting blood sugar > 120 mg/dl,resting electrocardiographic results,maximum heart rate achieved,exercise induced angina,oldpeak,slope of peak,number of major vessels,thal,Disease
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,1
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,0
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,1
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,0
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,0